.container{
    /* border: 1px solid black;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    flex-wrap: wrap;
    gap: 1em; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 30px;
}

.loading{
    display:flex;
    align-items: center;
    margin:auto;
    padding-left: 100px;
    margin-left: 100px;
    justify-content: center;
}



.divfiltrados{
    background-color: red;
    display: flex;
    justify-content: space-between;
}

.cargatodo{
    margin-right: 30%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 7%;
    background-color: rgba(0, 0, 0, 0.733);
    color: azure;
    cursor: pointer;
    font: italic small-caps bold 15px/2 cursive;
}
.cargatodo:hover{
    background-color: rgba(0, 0, 0, 0.527);
    scale: 1.05;
}

.ordenados{
margin-left: 10%;
padding: 5px;
cursor: pointer;
border-radius: 7%;
background-color: rgb(247, 213, 173);
font-weight: bold;
}

.filtrados{
margin-left: 3%;
padding: 5px;
cursor: pointer;
border-radius: 7%;
background-color: rgb(247, 213, 173);
font-weight: bold;
}

.paginate:valid{
    background-color: red;
}