.card{
    width: fit-content;
    border-radius: 10px;
    overflow: hidden;
    padding: 0.5em;
    background-color: rgba(53, 39, 8, 0.904);
    display: flex;
    flex-direction: column;
    border: 1.5 px solid black;
    justify-content: center;
    margin: auto;
    transition: all 400ms ease;
}

.div:hover{
    transform:translateY(-3%)
}

.nombres{
    display: flex;
    color: azure;
}

.link{
    text-decoration: none;
}

.imagenes{
    margin-top: 20px;
    object-fit: cover;
    height: 250px;
    width: 280px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}