.divForm{
    border: 2px solid black;
    width: 400px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    background-color: rgba(194, 183, 183, 0.808);
    margin-top: 2%;
    height: 440px;

}

.label{
width: 72px;
font-weight: bold;
margin-right: 25px;

font: italic small-caps bold 16px/2 cursive;
}

.input{
    width:180px;
    padding: 3px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    margin: 10px 0;
    display: inline-block;
    height: 18px;
}



.submit{
    width: 100%;
    padding: 8px 16px;
    margin-top: 32px;
    border: 1px solid #000;
    border-radius: 5px;
    display: block;
    background-color:rgba(0, 0, 0, 0.795);
    color: #f6f6f6;
    font: italic small-caps bold 17px/2 cursive;
}

.submit:hover{
    background-color:rgba(34, 34, 34, 0.795) ;
    cursor: pointer;
}


.nombre{
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.795);
    color: white;
    padding: 3px;
    font: italic small-caps bold 19px/2 cursive;
    margin-bottom: 40px;
}

.textarea{
    width: 180px;
    padding: 3px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 10px 0;
    resize: none;
    display: inline-block;
}

.step{
    display: flex;
    margin-left: 50px;
}

.diet{
   
    height: 25px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid black;
}

.diet:hover{
    cursor: pointer;
}


.dietas{
    

    margin-left: 85%;
    margin-bottom: 50px;
    height: fit-content;
    
    margin-top: 50px;
    position: absolute;

}

.div{
    display: flex;
}

.x{
align-self: flex-end;
background-color: rgb(128, 25, 25);
height: 30px;
width: 30px;
border-radius: 5px;
margin-top: 10px;
font: italic small-caps bold 14px/2 cursive;
border: 0.5px solid black;
}

.x:hover{
    scale: 1.1;
    cursor: pointer;
}

.nombre{
    font: italic small-caps bold 19px/2 cursive;

}

.disabled{
    width: 100%;
    padding: 8px 16px;
    margin-top: 32px;
  
    border-radius: 5px;
    display: block;
    background-color:rgba(0, 0, 0, 0.24);
    color: #f6f6f6;
    font: italic small-caps bold 17px/2 cursive;
}


@media only screen and (max-width:800px) {
    .div{
        scale: 0.9;
    }
}

@media only screen and (max-width:550px) {

    .div{
        scale: 0.7;
    }
       

}

